{% extends "generator/layout.html" %}

{% block content %}
<h1>About</h1>

<p>This is a simple website, created following Fazt's Web instructional video on Youtube named "Your first Django Website: Password Generator". It was created as my second developer project after learning the basics from Python's structures and syntax for programming, and for me to put those skills into practical use for Web development, as I created a basic this completely functional Website with the help of Django as a framework, Python (python3), HTML and CSS".</p>

<p>My goal for creating this project wa to get familiar con using Django as Python's primary framework for Web Development, in order to upgrade my skills and getting ready to code bigger and more ambitious Web Applications. It's a visually atractive website, offering several options for the user to decide and meant to help him automatically generate randomly created passwords, mixing upper and lowe case, numbers and special characters. For sure it's another step in my programming pathway and developer career, as it implements a deeper and more complex syntaxis, it uses a more powerful framework and it's also user friendly, requiring the user to provide or select some variables and information, and returning a Password as an answer, deploying it on the screen in a visually atractive way.</p>

{% endblock %}